bcrypt>=3.2.0
blinker
certifi
chardet
click
colorama
cryptography>=41.0.3
flask==2.3.3
flask_sqlalchemy==3.1.1
flask_mail==0.9.1
flask-login
flask_migrate
flask_bcrypt
flask_wtf
gunicorn==21.2.0
python-dotenv==1.1.1
requests
six
uvicorn>=0.29.0
