bcrypt>=3.2.0
blinker
certifi
chardet
click
colorama
cryptography>=41.0.3
distro
h11
httplib2
idna
importlib-metadata
Jinja2
jsonpatch
jsonschema
MarkupSafe
netifaces>=0.11.0
oauthlib
pyasn1
pyasn1-modules
pyserial
pytz
python-dotenv
flask==2.3.3
flask_sqlalchemy==3.1.1
flask_mail==0.9.1
gunicorn==21.2.0
python-dotenv==1.1.1
flask-login
'flask_migrate
PyYAML
requests
six
typing_extensions
urllib3
uvicorn>=0.29.0
